<select name="opr">
  <option value="eq">=</option>
  <option value="neq">!=</option>
  <option value="gt">&gt;</option>
  <option value="gte">&gt;=</option>
  <option value="lt">&lt;</option>
  <option value="lte">&lt;=</option>
  <option value="lk">含まれる</option>
  <option value="nlk">含まれない</option>
  <option value="re">正規表現に合致する</option>
  <option value="nre">正規表現に合致しない</option>
  <option value="re">正規表現に合致しない</option>
  <option value="em">空である</option>
  <option value="nem">空ではない</option>
</select>